.calendar-header {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-controls {
    display: flex;
    gap: .25rem;
}

.calendar-body {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.calendar {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    right: 0;
}

.calendar.day-container {
    display: grid;
    grid-template-columns: 4rem 1fr;
}

.calendar-times, .calendar-days {
    display: flex;
    flex-direction: column;
    background-color: var(--w-0);
    border-top: 1px solid var(--s-0);
    border-bottom: 1px solid var(--s-0);
}

.calendar-ruler {
    border-color: var(--s-0);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 2px;
    border-left-width: 0;
}

.calendar-ruler-value {
    position: relative;
    margin: 0;
    padding-top: .25rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 5rem;
}

.calendar-ruler-value:last-child {
    border-top: 1px dashed var(--s-0);
}

.calendar-days {
    background-color: var(--s-2);
}

.calendar-window {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-text {
    font-size: .875rem;
    overflow-y: hidden;
}


tbody {
    border-style: solid;
    border-color: var(--s-0);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-spacing: 0;
}

tbody:first-child {
    border-top-width: 2px;
}

tbody:last-child {
    border-bottom-width: 2px;
}

th.time-label {
    text-align: left;
    width: 4rem;
    padding-left: .25rem;
    border-style: solid;
    border-color: var(--s-0);
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    border-right-width: 1px;
}

tr.time-row {
    height: 2rem;
    width: 100%;
    border-style: dashed;
    border-color: var(--s-0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

td.time-cell {

}

td.day-cell {

}