.calendar-header {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-controls {
    display: flex;
    gap: .25rem;
}

.calendar-body {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    overflow: auto;
}

.calendar {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 0;
    right: 0;
    display: grid;
}

.calendar.day-container {
    grid-template-columns: 3.5rem 1fr;
}

.calendar.week-container {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 3.5rem 1fr;
}

.calendar.month-container {
    grid-template-rows: min-content 1fr;
    border-color: var(--s-0);
    border-style: solid;
    border-width: 0;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

.calendar-times, .calendar-days {
    display: flex;
    flex-direction: column;
    background-color: var(--w-0);
    border-top: 1px solid var(--s-0);
    border-bottom: 1px solid var(--s-0);
}

.calendar-times {
    grid-row: 2 / -1;
}

.calendar-week, .calendar-weekdays, .calendar-month {
    display: grid;
    grid-template-columns: repeat(7, minmax(6rem, 1fr));
}

/* .calendar-month {
    grid-template-rows: repeat(auto, minmax(6rem, 1fr));
} */

.calendar-week {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}

.calendar-weekdays {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.calendar-week, .calendar-weekdays {
    grid-column: 2 / -1;
}

.calendar-corner {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-color: var(--s-0);
    border-style: solid;
    border-right-width: 2px;
    border-left-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 0;
}

.weekday-value {
    width: 100%;
    padding: .5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--s-0);
    border-style: solid;
    border-width: 0;
    border-right-width: 2px;
    border-top-width: 2px;
}

.calendar-ruler {
    border-color: var(--s-0);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 2px;
    border-left-width: 0;
}

.calendar-times .calendar-ruler {
    border-left-width: 2px;
}

.calendar-ruler-value {
    position: relative;
    margin: 0;
    padding-top: .125rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 28px;
}

.calendar-ruler-value:first-child {
    border-bottom: 1px dashed var(--s-0);
}

.calendar-days {
    background-color: var(--s-2);
}

.calendar-month-day {
    border-color: var(--s-0);
    border-style: solid;
    border-width: 0;
    border-right-width: 2px;
    border-top-width: 2px;
    background-color: var(--s-2);
    padding: .25rem;
    display: flex;
    flex-direction: column;
}

.calendar-month-day:empty {
    background-color: var(--s-1);
}

.calendar-month-day-value {
    width: 100%;
    display: flex;
}

.calendar-month-day-items {
    display: flex;
    flex-direction: column;
}

.calendar-window {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-text {
    font-size: .875rem;
    overflow-y: hidden;
}
