.primary-2 {
    background-color: var(--p-2);
}

.primary-1 {
    background-color: var(--p-1);
}

.primary-0 {
    background-color: var(--p-0);
}

.text-primary-2 {
    color: var(--p-2);
}

.text-primary-1 {
    color: var(--p-1);
}

.text-primary-0 {
    color: var(--p-0);
}

.secondary-2 {
    background-color: var(--s-2);
}

.secondary-1 {
    background-color: var(--s-1);
}

.secondary-0 {
    background-color: var(--s-0);
}

.text-secondary-2 {
    color: var(--s-2);
}

.text-secondary-1 {
    color: var(--s-1);
}

.text-secondary-0 {
    color: var(--s-0);
}

.error-2 {
    background-color: var(--e-2);
}

.error-1 {
    background-color: var(--e-1);
}

.error-0 {
    background-color: var(--e-0);
}

.text-error-2 {
    color: var(--e-2);
}

.text-error-1 {
    color: var(--e-1);
}

.text-error-0 {
    color: var(--e-0);
}

.warning-2 {
    background-color: var(--d-2);
}

.warning-1 {
    background-color: var(--d-1);
}

.warning-0 {
    background-color: var(--d-0);
}

.text-warning-2 {
    color: var(--d-2);
}

.text-warning-1 {
    color: var(--d-1);
}

.text-warning-0 {
    color: var(--d-0);
}

.success-2 {
    background-color: var(--g-2);
}

.success-1 {
    background-color: var(--g-1);
}

.success-0 {
    background-color: var(--g-0);
}

.text-success-2 {
    color: var(--g-2);
}

.text-success-1 {
    color: var(--g-1);
}

.text-success-0 {
    color: var(--g-0);
}

.info-2 {
    background-color: var(--i-2);
}

.info-1 {
    background-color: var(--i-1);
}

.info-0 {
    background-color: var(--i-0);
}

.text-info-2 {
    color: var(--i-2);
}

.text-info-1 {
    color: var(--i-1);
}

.text-info-0 {
    color: var(--i-0);
}

.light-2 {
    background-color: var(--w-2);
}

.light-1 {
    background-color: var(--w-1);
}

.light-0 {
    background-color: var(--w-0);
}

.text-light-2 {
    color: var(--w-2);
}

.text-light-1 {
    color: var(--w-1);
}

.text-light-0 {
    color: var(--w-0);
}

.dark-2 {
    background-color: var(--b-2);
}

.dark-1 {
    background-color: var(--b-1);
}

.dark-0 {
    background-color: var(--b-0);
}

.text-dark-2 {
    color: var(--b-2);
}

.text-dark-1 {
    color: var(--b-1);
}

.text-dark-0 {
    color: var(--b-0);
}