input {
    padding: 0.5rem;
    background-color: var(--w-1);
    border-radius: .25rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--s-2);
    font-size: 1rem;
    opacity: .85;
    transition-property: opacity, transform;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

input:focus {
    opacity: 1;
}

button, input[type=submit] {
    appearance: none;
    padding: 0.5rem 1rem;
    border-radius: .25rem;
    box-shadow: var(--drop-shadow);
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    opacity: .85;
    transition-property: opacity, transform;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
}

button:hover, input[type=submit]:hover,
button:focus, input[type=submit]:focus {
    opacity: 1;
}

button:active, input[type=submit]:active {
    transform: translateY(2px);
}

.btn-square {
    padding: 0.25rem;
    min-width: 2rem;
    min-height: 2rem;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    min-width: 5rem;
}

.btn-large {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    min-width: 7rem;
}

label {
    margin-bottom: .25rem;
}

.link-btn {
    text-decoration: none;
}