form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.form-fields {
    display: grid;
    row-gap: 1rem;
}

.form-buttons {
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.field-row {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.field-col {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.field-error {
    color: var(--e-1);
}
