.auth {
    position: absolute;
    margin: auto;
    min-width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--w-2);
    box-shadow: var(--drop-shadow);
}