.site-header {
    width: 100%;
    padding: .5rem;
    box-shadow: var(--drop-shadow);
}

.site-title {
    margin-left: .5rem;
}

main.content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    position: absolute;
    margin: auto;
    min-width: 20rem;
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--w-2);
    box-shadow: var(--drop-shadow);
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
}

.side-nav-links {
    height: 100%;
    padding: .5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.side-nav-item:last-child {
    margin-top: auto;
}

.side-nav-link {
    display: flex;
    margin: .25rem 0;
    min-width: 2.5rem;
    height: 2.5rem;
    position: relative;
    width: min-content;
    text-decoration: none;
    color: var(--i-1)
}

.side-nav-icon {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: left;
    padding: .5rem;
    background-color: var(--w-2);
    box-shadow: var(--drop-shadow);
    border-radius: 1.25rem;
    transition-property: all;
    transition-duration: .3s; 
    transition-timing-function: ease-in-out;
}

.side-nav-img {
    height: 1.5rem;
    width: 1.5rem;
}

.side-nav-link::after {
    content: attr(data-text);
    position: absolute;
    z-index: 99;
    transform: scaleX(0);
    background-color: var(--w-2);
    height: 1.5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.75rem;
    padding-right: 1rem;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transform-origin: left;
    box-shadow: var(--drop-shadow);
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    left: 50%;
    overflow: hidden;
}

.side-nav-link:hover::after {
    transform: scaleX(100%);
}

.side-nav-text {
    position: absolute;
}

.dashboard-content {
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.dashboard-header {
    display: flex;
}

.dashboard-header-title {
    margin-right: auto;
} 

.side-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.side-panel {
    min-width: 24rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.side-list {
    list-style: none;
}

.side-list-item {
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
}

.side-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.home {
    margin-top: .5rem;
    display: flex;
    gap: 1rem;
}
