:root {
    --p-2: hsl(15 70% 50%);
    --p-1: hsl(15 75% 40%);
    --p-0: hsl(15 80% 25%);
    --s-2: hsl(0 0% 70%);
    --s-1: hsl(0 0% 60%);
    --s-0: hsl(0 0% 50%);
    --e-2: hsl(355 75% 75%);
    --e-1: hsl(355 70% 40%);
    --e-0: hsl(355 65% 25%);
    --d-2: hsl(30 70% 75%);
    --d-1: hsl(30 65% 40%);
    --d-0: hsl(30 60% 25%);
    --g-2: hsl(135 70% 75%);
    --g-1: hsl(135 65% 40%);
    --g-0: hsl(135 60% 25%);
    --i-2: hsl(200 70% 75%);
    --i-1: hsl(200 65% 40%);
    --i-0: hsl(200 60% 25%);
    --u-1: hsl(0 0% 70%);
    --u-0: hsl(0 0% 45%);
    --w-2: hsl(0 0% 95%);
    --w-1: hsl(0 0% 90%);
    --w-0: hsl(0 0% 85%);
    --b-2: hsl(0 0% 20%);
    --b-1: hsl(0 0% 15%);
    --b-0: hsl(0 0% 10%);
    --in-shadow: inset 0px 1px 3px hsla(0, 0%, 0%, .5);
    --drop-shadow: 0px 1px 3px hsla(0, 0%, 0%, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--w-1);
}

:focus {
    outline-style: solid;
    outline-width: thick;
    outline-color: var(--i-2);
}