:root {
    --p-2: hsl(15 70% 50%);
    --p-1: hsl(15 75% 40%);
    --p-0: hsl(15 80% 25%);
    --s-2: hsl(0 0% 65%);
    --s-1: hsl(0 0% 50%);
    --s-0: hsl(0 0% 35%);
    --e-2: hsl(355 70% 75%);
    --e-1: hsl(355 65% 60%);
    --e-0: hsl(355 60% 45%);
    --w-2: hsl(30 70% 75%);
    --w-1: hsl(30 65% 60%);
    --w-0: hsl(30 60% 45%);
    --g-2: hsl(135 70% 75%);
    --g-1: hsl(135 65% 60%);
    --g-0: hsl(135 60% 45%);
    --i-2: hsl(200 70% 75%);
    --i-1: hsl(200 65% 60%);
    --i-0: hsl(200 60% 45%);
    --w-2: hsl(0 0% 90%);
    --w-1: hsl(0 0% 85%);
    --w-0: hsl(0 0% 80%);
    --b-2: hsl(0 0% 20%);
    --b-1: hsl(0 0% 15%);
    --b-0: hsl(0 0% 10%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

:focus {
    outline-color: var(--i-1);
    outline-width: 4px;
}