{% from "_macros.html" import card_list %}
{% from "_cards.html" import barber_card %}

{% extends "client.html" %}

{% block title %}
    Barbers
{% endblock %}

{% block header_text %}
    Browse Barbers
{% endblock %}

{% block main_content %}
    {% call card_list('Available Barbers') %}
    {% if not barbers %}
        <p class="card-list-text">
            No barbers to show
        </p>
    {% else %}
        {% for barber in barbers %}
            {{ barber_card(barber, current_barber_id) }}
        {% endfor %}
    {% endif %}
    {% endcall %}
{% endblock %}