{% from "_tables.html" import table %}

{% extends "client/appointment_history.html" %}

{% block side_text %}
    Appointment Details
{% endblock %}

{% block side_content %}
    <div class="side-container">
        <p>Barber: {{ appointment.barber.display_name() }}</p>
        <p>{{ appointment.booked_date|display_date }}</p>
        <p>{{ appointment.start_time }}</p>
        <p>{{ appointment.duration }} minute{% if not appointment.duration == 1 %}s{% endif %}</p>
    </div>
    {{ 
        table(
            caption="Services",
            data=services_data
        ) 
    }}
{% endblock %}