{% from "_tables.html" import table %}

{% extends "client/home.html" %}

{% block side_text %}
    Appointment Details
{% endblock %}

{% block side_content %}
    <div class="side-container">
        {% if not appointment.is_approved %}
            <h4 class="text-warning-1">Pending</h4>
            <p>You will be notified when {{ appointment.barber.display_name() }} confirms this appointment</p>
        {% else %}
            <h4 class="text-success-1">Booked</h4>
        {% endif %}
    </div>
    <div class="side-container">
        <p>Barber: {{ appointment.barber.display_name() }}</p>
        <p>{{ appointment.booked_date|display_date }}</p>
        <p>{{ appointment.start_time }}</p>
        <p>{{ appointment.duration }} minute{% if not appointment.duration == 1 %}s{% endif %}</p>
    </div>
    {{ 
        table(
            caption="Services",
            data=services_data
        ) 
    }}
    {% if appointment.is_approved %}
        <div class="side-buttons">
            <a href="{{ url_for('client.edit_appointment', appt_id=appointment.id) }}">
                <button class="info-1 text-light-2 btn-large">Edit</button>
            </a>     
        </div>
        <div class="side-buttons"> 
            <a href="{{ url_for('client.reschedule_appointment', appt_id=appointment.id) }}">
                <button class="warning-1 text-light-2 btn-large">Reschedule</button>
            </a>
            <a href="{{ url_for('client.cancel_appointment', appt_id=appointment.id) }}">
                <button class="error-1 text-light-2 btn-large">Cancel</button>
            </a>
        </div>
    {% else %}
        <div class="side-buttons">
            <a href="{{ url_for('client.reschedule_appointment', appt_id=appointment.id) }}">
                <button class="warning-1 text-light-2 btn-large">Reschedule</button>
            </a>
            <a href="{{ url_for('client.cancel_appointment', appt_id=appointment.id) }}">
                <button class="error-1 text-light-2 btn-large">Cancel</button>
            </a>
        </div>
    {% endif %}
{% endblock %}