{% from "_macros.html" import card_list %}
{% from "_cards.html" import appointment_card %}

{% extends "barber.html" %}

{% block title %}
    Appointment History
{% endblock %}

{% block header_text %}
    Appointment History
{% endblock %}

{% block main_content %}
    <div class="history">
        {% call card_list() %}
            {% if not historical_appointments %}
                <p class="card-list-text">No appointment history to show</p>
            {% else %}
                {% for appointment in historical_appointments %}
                    {{ appointment_card(appointment, appt_id, url='barber.history_details') }}
                {% endfor %}
            {% endif %}
        {% endcall %}
    </div>
{% endblock %}

{% block side_text %}
    Details
{% endblock %}

{% block side_content %}
    <p>Click on an appointment to view details.</p>
{% endblock %}
