{% extends "barber.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block header_text %}
    My Calendar
{% endblock %}

{% block main_content %}
<div class="calendar-header">
    <div class="calendar-controls">
        {% if prev["d"] %}
            <a class="link-btn" href="{{ url_for('barber.calendar', **prev) }}">
                <button class="btn-square primary-1 text-light-2">
                    <
                </button>
            </a>
        {% endif %}
        <a class="link-btn" href="{{ url_for('barber.calendar', **next) }}">
            <button class="btn-square primary-1 text-light-2">
                >
            </button>
        </a>
    </div>
    <a class="calendar-title-link" href="{{ url_for('barber.calendar', unit=unit, d=current) }}">
        <h3 class="calendar-title">
            {{ title }}
        </h3>
    </a>
    <div class="calendar-controls">
    {% if not unit == 'D' %}
        <a class="link-btn" href="{{ url_for('barber.calendar', unit='D', d=current) }}">
            <button class="btn-small primary-1 text-light-2">
                Day
            </button>
        </a>
    {% endif %}
    {% if not unit == 'W' %}
        <a class="link-btn" href="{{ url_for('barber.calendar', unit='W', d=current) }}">
            <button class="btn-small primary-1 text-light-2">
                Week
            </button>
        </a>
    {% endif %}
    {% if not unit == 'M' %}
        <a class="link-btn" href="{{ url_for('barber.calendar', unit='M', d=current) }}">
            <button class="btn-small primary-1 text-light-2">
                Month
            </button>
        </a>
    {% endif %}
    </div>
</div>
<div class="calendar-body">
    {% block calendar_content %}
    {% endblock %}
</div>
{% endblock %}