{% extends "barber/calendar.html" %}

{% block calendar_content %}
<div class="calendar day-container">
    <div class="calendar-times">
        {% for time, hour_times in times %}
            <div class="calendar-ruler">
                {% for hour_time in hour_times %}
                    <span class="calendar-ruler-value">
                        {% if loop.index == 1 %}
                            {{ hour_time }}
                        {% endif %}
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="calendar-days">
        {% for time, hour_times in times %}
            <div class="calendar-ruler">
                {% for hour_time in hour_times %}
                    <span class="calendar-ruler-value"></span>
                {% endfor %}
                {% for appointment in appointments %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}