{% extends "barber/calendar.html" %}

{% block calendar_content %}
<div class="calendar month-container">
    <div class="calendar-weekdays">
        {% for weekday in weekdays %}
            <span class="weekday-value">
                {{ weekday }}
            </span>
        {% endfor %}
    </div>
    <div class="calendar-month">
    {% for days in dates %}
        {% for day in days %}
            {% if not day == None %}
                {% set is_unavailable = day|string in unavailable %}
                {% set is_available = schedule[day|string] is defined %}
                {% set is_booked = day|string in appointments %}
                {% if is_unavailable %}
                    {% set day_class = "calendar-month-day unavailable" %}
                {% else %}
                    {% set available_class = "available" if is_available else "" %}
                    {% set booked_class = "booked" if is_booked else "" %}
                    {% set day_class = "calendar-month-day" ~ " " ~ booked_class ~ " " ~ available_class %}
                {% endif %}
                <div class="{{ day_class }}">
                    <span class="calendar-month-day-value">
                    {% if day < today %}
                        {{ day.day }}
                    {% else %}
                        {% set url = url_for('barber.calendar_view', selected=day|string, unit=unit, d=current) %}
                        <a href="{{ url }}" class="calendar-month-day-link">
                            {{ day.day }}
                        </a>
                    {% endif %}
                    </span>
                    <div class="calendar-month-day-items">

                    </div>
                </div>
            {% else %}
                <div class="calendar-month-day"></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
</div>
{% endblock %}