{% from "_render_form.html" import render_form %}
{% from "_tables.html" import table %}

{% extends "barber/calendar_day.html" %}

{% block side_text %}
    {{ title }}
{% endblock %}

{% block side_content %}
    {% if schedule_data %}
        {{ table(caption=weekday + " Schedule", data=schedule_data) }}
    {% else %}
        <p>You have <b class="text-error-1">no listed availability</b> on this day<p>
    {% endif %}
    <h3>Add {{ weekday }} Availability</h3>
    {{ render_form(form) }}
{% endblock %}