{% extends "barber/calendar.html" %}

{% block calendar_content %}
<div class="calendar month-container">
    <div class="calendar-weekdays">
        {% for weekday in weekdays %}
            <span class="weekday-value">
                {{ weekday }}
            </span>
        {% endfor %}
    </div>
    <div class="calendar-month">
        {% for days in dates %}
            {% for day in days %}
                {% if not day == None %}
                    {% set is_unavailable = day|string in unavailable %}
                    <div class="calendar-month-day{% if is_unavailable %} unavailable{% endif %}">
                        <span class="calendar-month-day-value">{{ day.day }}</span>
                        <div class="calendar-month-day-items">

                        </div>
                    </div>
                {% else %}
                    <div class="calendar-month-day"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}