{% from "_macros.html" import card_list %}
{% from "_cards.html" import appointment_card %}

{% extends "barber.html" %}

{% block title %}
    Home
{% endblock %}

{% block header_text %}
    Hello, {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block main_content %}
    <div class="home">
        {% call card_list('Booked Appointments') %}
            {% for appointment in booked_appointments %}
                {{ appointment_card(appointment) }}
            {% endfor %}
        {% endcall %}
        {% call card_list('Requested Appointments') %}
            {% for appointment in requested_appointments %}
                {{ appointment_card(appointment) }}
            {% endfor %}
        {% endcall %}
    </div>
{% endblock %}

{% block side_text %}
    Requests
{% endblock %}

{% block side_content %}
    Any requested appointments will show up here
{% endblock %}