{% from "_macros.html" import card_list %}
{% from "_cards.html" import appointment_card %}

{% extends "barber.html" %}

{% block title %}
    Home
{% endblock %}

{% block header_text %}
    Hello, {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block main_content %}
    <div class="home">
        {% call card_list('Upcoming Appointments') %}
            {% if not booked_appointments %}
                <p class="card-list-text">
                    No upcoming appointments to show
                </p>
            {% else %}
                {% for appointment in booked_appointments %}
                    {{ appointment_card(appointment, appt_id) }}
                {% endfor %}
            {% endif %}
        {% endcall %}
    </div>
{% endblock %}

{% block side_text %}
{% endblock %}

{% block side_content %}
{% endblock %}