{% extends "barber/home.html" %}

{% block side_text %}
    Appointment Details
{% endblock %}

{% block side_content %}
    <p>Barber: {{ appointment.barber.display_name() }}</p>
    <p>Client: {{ appointment.client.display_name() }}</p>
    <p>{{ appointment.booked_date }}</p>
    <p>{{ appointment.start_time }}</p>
    <p>{{ appointment.duration }} minute{% if not appointment.duration == 1 %}s{% endif %}</p>

    <div class="side-buttons">
        <a href="{{ url_for('barber.cancel_appointment', appt_id=appointment.id) }}">
            <button class="error-1 text-light-2">Cancel</button>
        </a>
    </div>
{% endblock %}