{% macro appointment_card(appointment, current_appt_id, url) %}
<a 
    class="card{% if current_appt_id == appointment.id %} current{% endif %}" 
    href="{{ url_for(url, appt_id=appointment.id) }}"
>
    <p>{{ appointment }}</p>
    <p>{{ appointment.client.display_name() }}</p>
</a>
{% endmacro %} 

{% macro service_card(service, current_service_id) %}
<a 
    class="card{% if current_service_id == service.id %} current{% endif %}" 
    href="{{ url_for('barber.barber_service_details', service_id=service.id) }}"
>
    <p>{{ service }}</p>
</a>
{% endmacro %}

{% macro barber_card(barber, current_barber_id) %}
<a 
    class="card{% if current_barber_id == barber.id %} current{% endif %}" 
    href="{{ url_for('client.barber_details', barber_id=barber.id) }}"
>
    <p>{{ barber }}</p>
</a>
{% endmacro %}