{% macro nav_link(link_url, icon_url, text) %}
    <li class="side-nav-item">
        <a class="side-nav-link" href="{{ link_url }}" data-text="{{ text }}">
            <div class="side-nav-icon">
                <img class="side-nav-img" src="{{ icon_url }}"/>
            </div>
        </a>
    </li>
{% endmacro %}

{% macro card_list(title) %}
    <div class="card-list">
        <div class="card-list-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="cards">
            {{ caller() }}
        </div>
    </div>
{% endmacro %}