{% macro table_cell(values) %}
    <td class="table-cell">
        {% for value in values %}
            <p>{{ value }}</p>
        {% endfor %}
    </td>
{% endmacro %}

{% macro table_body(data) %}
    {% for row in data %}
        <tr>
            {% for values in row %}
                {{ table_cell(values) }}
            {% endfor %}
        </tr>
    {% endfor %}
{% endmacro %}

{% macro table_head(columns) %}
    <tr>
        {% for column in columns %}
            <th scope="col" class="table-header-cell">
                {{ column }}
            </th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro table(caption, columns, data) %}
    <div class="table-container">
        <h3 class="table-caption">
            {{ caption }}
        </h3>
        <table class="table">
            <thead>
                {{ table_head(columns) }}
            </thead>
            <tbody>
                {{ table_body(data) }}
            </tbody>
        </table>
    </div>
{% endmacro %}