{% from "_macros.html" import nav_link %}
{% extends "dashboard.html" %}

{% block nav %}
{{ nav_link(
    link_url=url_for('barber.barber_home'),
    icon_url=url_for('static', filename='icons/home.svg'),
    text="Home"
) }}
{{ 
    nav_link( 
    link_url=url_for('barber.barber_services'),
    icon_url=url_for('static', filename='icons/scissors.svg'),
    text="Services"
) }}
{{ nav_link(
    link_url=url_for('barber.calendar'),
    icon_url=url_for('static', filename='icons/calendar.svg'),
    text="Calendar"
) }}
{{ 
    nav_link( 
    link_url=url_for('barber.appointment_history'),
    icon_url=url_for('static', filename='icons/history.svg'),
    text="History"
) }}
{% endblock %}

{% block dashboard %}
<header class="dashboard-header">
    <h1 class="dashboard-header-title">
        {% block header_text %}
        {% endblock %}
        {% block header_controls %}
        {% endblock %}
    </h1>
</header>
{% block main_content %}
{% endblock %}
{% endblock %}
