{% from "_flash_messages.html" import flash_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='controls.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cards.css') }}">
    <title>{% block title %}{% endblock %} - Barber Shop App</title>
</head>
<body>
    <div class="site-header primary-0 text-light-2">
        <h2 class="site-title">Barber Shop App</h2>
    </div>
    <main class="content">
        {% block body %}
        {% endblock %}
        {{ flash_messages() }}
    </main>
</body>
</html>