{% from "_macros.html" import nav_link %}
{% extends "dashboard.html" %}

{% block nav %}
{{ 
    nav_link(
        link_url=url_for('client.client_home'),
        icon_url=url_for('static', filename='icons/home.svg'),
        text="Home"
    ) 
}}
{{ 
    nav_link(
        link_url=url_for('client.browse_barbers'),
        icon_url=url_for('static', filename='icons/user.svg'),
        text="Barbers"
    ) 
}}
{{ 
    nav_link( 
        link_url=url_for('client.client_appointment_history'),
        icon_url=url_for('static', filename='icons/history.svg'),
        text="History"
    ) 
}}
{% endblock %}

{% block dashboard %}
<header class="dashboard-header">
    <h1 class="dashboard-header-title">
        {% block header_text %}
        {% endblock %}
        {% block header_controls %}
        {% endblock %}
    </h1>
</header>
{% block main_content %}
{% endblock %}
{% endblock %}
