<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset</h2>
    <!-- Debugging: Display the token -->
    <p>Token Debug You Should see the Token here if it is passed correctly: {{ token }}</p>
    <form action="{{ url_for('auth.reset_password', token=token) }}" method="POST">
        {{ form.csrf_token }}
        {{ form.new_password.label }} {{ form.new_password(placeholder="New Password") }}<br>
        {{ form.confirm_password.label }} {{ form.confirm_password(placeholder="Confirm Password") }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>


